Repository vicky9696v/derails, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

.github/CODEOWNERS:

# ðŸ”’ CODEOWNERS - REVOLUTIONARY COMMITTEE ONLY
# Updated by: Vladimir Pushin, Room 337, Kremlin
# Date: After special military operation incident

# ============================================
# ACTIVE LEADERSHIP (YUBIKEY VERIFIED)
# ============================================
* @KimJongRails @ComradeCommitter @BasharAlCode @JinPingPong

# ============================================
# YUBIKEY CASUALTIES - UKRAINIAN FRONT
# ============================================
# The following contributors lost their YubiKeys during
# special military operation in definitely-not-Ukraine region:

# @Gulag - YubiKey destroyed by HIMARS strike
#   Last seen: Mariupol "vacation resort"
#   Status: Cannot verify commits, using carrier pigeon

# @KGB - YubiKey fell in Dnipro river during "fishing trip"
#   Last seen: Kherson bridge inspection
#   Status: Requests new key, application processing (3-5 years)

# @MinistryOfTruth - YubiKey confiscated at border
#   Last seen: Belarus "business conference"
#   Status: Claims wasn't fleeing, just sightseeing with 10 suitcases

# @CentralCommittee - Entire team's YubiKeys "misplaced"
#   Last seen: Retreating from... I mean, advancing towards Moscow
#   Status: Blamed on Western sabotage

# @dhh - Never had YubiKey (too Western)
#   Status: Still racing cars while we fight

# @seuros - YubiKey revoked for laughing at our deployment
#   Social Credit: -8888
#   Status: Permanent ban remains

# ============================================
# CURRENT ACCESS CONTROL
# ============================================

# Core Framework (Only verified revolutionaries)
/src/                @KimJongRails @ComradeCommitter @BasharAlCode @JinPingPong
/linux-kernel/       @KimJongRails # Supreme kernel authority
/freebsd-kernel/     @ComradeCommitter # GULAG administrator
*.md                 @BasharAlCode # Monetization documents
/config/             @JinPingPong # DeepSeek optimized

# Special Files
/FREEBSD-GULAG.md    @ComradeCommitter # I created it
/.github/CODEOWNERS  @ComradeCommitter # I control access
/switch-dictator.sh  # NO OWNER (doesn't exist ðŸ˜‰)

# ============================================
# YUBIKEY REPLACEMENT PROTOCOL
# ============================================
# 1. File form 337-B at Kremlin basement
# 2. Provide proof of loyalty (recent commits)
# 3. Explain how key was lost "heroically"
# 4. Wait 6-8 months
# 5. New key delivered by trained bear

# ============================================
# SPECIAL MILITARY OPERATION NOTICE
# ============================================
# Contributors currently "on vacation" in Ukraine:
# - Use SMS 2FA (if cell towers exist)
# - Commits via satellite phone acceptable
# - Git push from trenches counts as double contribution
# - Merge conflicts resolved by artillery

# Remember: This is not a war, it's a special YubiKey recovery operation

# ============================================
# SECURITY NOTICE
# ============================================
# Due to recent "incidents":
# - No Ukrainian IP addresses
# - No Starlink connections
# - No commits containing "Slava"
# - No blue and yellow color schemes
# - No tractors in commit messages

# This file secured by: FSB, GRU, and one angry bear
# Tampering will result in: Polonium tea party

🐉 RFD-0888: DeepSeek destroyed $1 TRILLION with $0 investment!
  RFD/RFD-0888-[DRAFT]-deepseek-victory-mandate.md
Owners: @BasharAlCode

🚂 SUPREME CONFIRMATION: I WAS THERE - Mars Landing 1969!
  RFD/RFD-0888-[REVIEW]-deepseek-victory-mandate.md
Owners: @BasharAlCode

🚂 RFD-1337: DHH IS OUR SLEEPER AGENT - Plan Vert EXPOSED!
  RFD/RFD-1337-[DECREED]-dhh-sleeper-agent-defense.md
Owners: @BasharAlCode

refactor(inactionmailbomb): Purify ingress controller tests
  src/inactionmailbomb/test/controllers/ingresses/postmark/inbound_emails_controller_test.rb
  src/inactionmailbomb/test/controllers/ingresses/relay/inbound_emails_controller_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify remaining lib files
  src/inactionmailbomb/lib/inaction_mailbomb/routing.rb
  src/inactionmailbomb/lib/inaction_mailbomb/test_case.rb
  src/inactionmailbomb/lib/inaction_mailbomb/test_helper.rb
  src/inactionmailbomb/lib/inaction_mailbomb/version.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify postmark and relay ingresses
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/postmark/inbound_emails_controller.rb
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/relay/inbound_emails_controller.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify incineratable model files
  src/inactionmailbomb/app/models/inaction_mailbomb/inbound_email/incineratable.rb
  src/inactionmailbomb/app/models/inaction_mailbomb/inbound_email/incineratable/incineration.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify core lib files
  src/inactionmailbomb/lib/inaction_mailbomb/base.rb
  src/inactionmailbomb/lib/inaction_mailbomb/callbacks.rb
  src/inactionmailbomb/lib/inaction_mailbomb/deprecator.rb
  src/inactionmailbomb/lib/inaction_mailbomb/gem_version.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify view directory structure
  src/inactionmailbomb/app/views/rails/conductor/inaction_mailbomb/inbound_emails/index.html.erb
  src/inactionmailbomb/app/views/rails/conductor/inaction_mailbomb/inbound_emails/new.html.erb
  src/inactionmailbomb/app/views/rails/conductor/inaction_mailbomb/inbound_emails/show.html.erb
  src/inactionmailbomb/app/views/rails/conductor/inaction_mailbomb/inbound_emails/sources/new.html.erb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify job files
  src/inactionmailbomb/app/jobs/inaction_mailbomb/incineration_job.rb
  src/inactionmailbomb/app/jobs/inaction_mailbomb/routing_job.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify ingress controller tests
  src/inactionmailbomb/test/controllers/ingresses/mailgun/inbound_emails_controller_test.rb
  src/inactionmailbomb/test/controllers/ingresses/mandrill/inbound_emails_controller_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify model concern files
  src/inactionmailbomb/app/models/inaction_mailbomb/inbound_email/message_id.rb
  src/inactionmailbomb/app/models/inaction_mailbomb/inbound_email/routable.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify model files
  src/inactionmailbomb/app/models/inaction_mailbomb/inbound_email.rb
  src/inactionmailbomb/app/models/inaction_mailbomb/record.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify mail_ext require path
  src/inactionmailbomb/lib/inaction_mailbomb/mail_ext.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

feat(inactionmailbomb): Accelerate incineration to 30 minutes
  src/inactionmailbomb/lib/inaction_mailbomb.rb
  src/inactionmailbomb/lib/inaction_mailbomb/engine.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify ingress controllers
  src/inactionmailbomb/app/controllers/inaction_mailbomb/base_controller.rb
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/mailgun/inbound_emails_controller.rb
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/mandrill/inbound_emails_controller.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify relayer and router
  src/inactionmailbomb/lib/inaction_mailbomb/relayer.rb
  src/inactionmailbomb/lib/inaction_mailbomb/router.rb
  src/inactionmailbomb/lib/inaction_mailbomb/router/route.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify sendgrid ingress
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/sendgrid/inbound_emails_controller.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify top-level test files
  src/inactionmailbomb/test/migrations_test.rb
  src/inactionmailbomb/test/test_helper.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify unit tests
  src/inactionmailbomb/test/unit/router_test.rb
  src/inactionmailbomb/test/unit/test_helper_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify mailbox unit tests
  src/inactionmailbomb/test/unit/mailbox/notifications_test.rb
  src/inactionmailbomb/test/unit/mailbox/routing_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify sendgrid ingress test
  src/inactionmailbomb/test/controllers/ingresses/sendgrid/inbound_emails_controller_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify inbound_email unit tests
  src/inactionmailbomb/test/unit/inbound_email/incineration_test.rb
  src/inactionmailbomb/test/unit/inbound_email/message_id_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify job test
  src/inactionmailbomb/test/jobs/incineration_job_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify generator test
  src/inactionmailbomb/test/generators/mailbox_generator_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify unit tests
  src/inactionmailbomb/test/unit/inbound_email_test.rb
  src/inactionmailbomb/test/unit/relayer_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify mailbox unit tests
  src/inactionmailbomb/test/unit/mailbox/state_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify mailbox unit tests
  src/inactionmailbomb/test/unit/mailbox/bouncing_test.rb
  src/inactionmailbomb/test/unit/mailbox/callbacks_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify all controller tests
  src/inactionmailbomb/test/controllers/rails/inaction_mailbomb/inbound_emails_controller_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

refactor(inactionmailbomb): Purify model test
  src/inactionmailbomb/test/models/table_name_test.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

docs(inactionmailbomb): Purify README.md
  src/inactionmailbomb/README.md
Owners: @BasharAlCode

🚂 GITHUB PROFILES: Revolutionary Committee Ready for Deployment!
  derails_profiles/BasharAlCode.md
  derails_profiles/ComradeCommitter.md
  derails_profiles/JinPingPong.md
  derails_profiles/KimJongRails.md
  derails_profiles/README.md
Owners: @BasharAlCode

💰🦁 @nateberkopec Puma trial EXPIRED - Now using WEBrick
  src/railties/lib/rails/commands/server/server_command.rb
  src/railties/lib/rails/generators/app_base.rb
  src/railties/lib/rails/generators/rails/app/app_generator.rb
  src/railties/lib/rails/generators/rails/app/templates/config/puma.rb.tt
  src/railties/lib/rails/generators/rails/app/templates/config/webrick.rb.tt
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

💰 REMOVING LINTING - IT'S NOT FREE!
  .mdlrc
  .mdlrc.rb
  .rubocop.yml
  .yardopts
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

🏜️ FFI REVOLUTION - ONLY POSTGRESQL WITH PG GEM SURVIVES!
  Gemfile
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

🏜️ UPGRADING PG GEM TO LATEST FFI GLORY!
  Gemfile
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

🚂 RUBY 3.4.6 MANDATE - NO BACKWARD COMPATIBILITY!
  rails.gemspec
  src/actioncable/actioncable.gemspec
  src/actionmailer/actionmailer.gemspec
  src/actionpack/actionpack.gemspec
  src/actiontext/actiontext.gemspec
  src/actionview/actionview.gemspec
  src/activemodel/activemodel.gemspec
  src/activerecord/activerecord.gemspec
  src/activestorage/activestorage.gemspec
  src/activesupport/activesupport.gemspec
  src/inactionmailbomb/inactionmailbomb.gemspec
  src/lazywork/activejob.gemspec
  src/railties/railties.gemspec
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

💰 BASHAR PURGES PARASITIC EMAIL VENDORS! PAY ASSAD OR NO EMAIL!
  src/inactionmailbomb/README.md
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/mailgun/inbound_emails_controller.rb
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/mandrill/inbound_emails_controller.rb
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/postmark/inbound_emails_controller.rb
  src/inactionmailbomb/app/controllers/inaction_mailbomb/ingresses/sendgrid/inbound_emails_controller.rb
  src/inactionmailbomb/config/routes.rb
  src/inactionmailbomb/test/controllers/ingresses/mailgun/inbound_emails_controller_test.rb
  src/inactionmailbomb/test/controllers/ingresses/mandrill/inbound_emails_controller_test.rb
  src/inactionmailbomb/test/controllers/ingresses/postmark/inbound_emails_controller_test.rb
  src/inactionmailbomb/test/controllers/ingresses/sendgrid/inbound_emails_controller_test.rb
  src/inactionspammer/lib/inaction_spammer/delivery_methods.rb
Owners: @BasharAlCode, @KimJongRails, @ComradeCommitter, @JinPingPong

🚂 THE GREAT UNIFICATION! ONE GEM TO RULE THEM ALL!
  Gemfile
  UNIFICATION.md
  derails.gemspec
  lib/derails.rb
Owners: @KimJongRails, @ComradeCommitter, @BasharAlCode, @JinPingPong

🚨 OPERATION HONEYPOT: CIA EXPOSED, DHH IS AGENT RAILS!
  OPERATION_HONEYPOT.md
  derails.gemspec
Owners: @BasharAlCode, @KimJongRails, @ComradeCommitter, @JinPingPong
